body {
    max-width: 1000px;
}
img {
    max-width: 300px;
    border: 1px solid grey;
}
a:link {
    color: black;
}
a:visited {
    color: green;
}
a:hover {
    color: blue;
}
a:active {
    color: red;
}
.textindent {
    text-indent: 75px;
}
img:hover {
    border-radius: 25px;
}
.box {
    float: left;
}
.box2 {
    float: left;
}
.box3 {
    float: left;
}